// Color
$color-primary: #031740;

$color-secondary: #0785F2;

$color-secondary2: #0798F2;

$color-secondary3: #27CDF2;

$color-secondary4: #fff;

$color-button: #C0355F;

$text-color-primary: #ffffff;
$text-color-secondary: #202024;
//font
$default-font-size: 1.6rem;


// margin top

$margin-top: 1.5rem;

// padding left and right for desktop

$paddingDesktop: 0 3rem;